<div class="container">
  <div class="search">
    <input placeholder="@username + tag to search within a verified channel" class="form-control search-input" width="80%" name="title" #searchTerm>
    <button class="btn btn-outline-success m-3 search-button" (click)="performSearch(searchTerm)"><i class="fas fa-search"></i></button>
  </div>
  <div id="banner"><img class="banner" src="assets/images/giphy-banner.png"  alt=""></div>
  <br>
  <h5 class="">Trending Gifs</h5>
  <div class="giphy-images">
    <img class="gif-image" *ngFor='let gif of gifs, let i=index' src="{{gifs[i].images.preview_gif.url}}" style="height:280px; width:280px;" alt="Gif here">
  </div>
  <div class="text-centre">
    <button class="btn btn-success load-more" (click)="loadMore()">Load More</button>
  </div>
  <div class="images">
    <!-- inject the images here   -->
  </div>
</div>