/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: black;
}
.navbar {
  background-color: black !important;
}
.search {
  display: flex;
  flex-direction: row;
}
.search-input {
  margin: 0 !important;
  width: 90%;
  height: 5rem;
}
.search-button {
  margin: 0 !important;
  width: 10%;
  height: 5rem;
}