/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: black;
  color: white;
}
.navbar {
  background-color: black !important;
}
.search {
  display: flex;
  border-radius: unset !important;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.search-input {
  margin: 0 !important;
  border-radius: unset !important;
  width: 95%;
  height: 5rem;
}
.search-button {
  margin: 0 !important;
  width: 5%;
  background-color: #D651A3;
  color: white;
  height: 5rem;
}